<?xml version="1.0"?>
<connectionStrings>
  <add name="sqlWebsiteConnection" connectionString="Data Source=jetserve3.jetpartsengineering.local;Initial Catalog=ecom_website;Persist Security Info=True;User ID=ecom;Password=unclebill" providerName="System.Data.SqlClient"/>
  <add name="sqlSalesConnection" connectionString="Data Source=jetserve3.jetpartsengineering.local;Initial Catalog=DevSales;Persist Security Info=True;User ID=ecom;Password=unclebill" providerName="System.Data.SqlClient"/>
  <add name="sqlForecastConnection" connectionString="Data Source=jetserve3.jetpartsengineering.local;Initial Catalog=JPETracking;Persist Security Info=True;User ID=ecom;Password=unclebill" providerName="System.Data.SqlClient"/>
  <add name="sqlScannerConnection" connectionString="Data Source=sql2k513.discountasp.net;Initial Catalog=SQL2005_623673_jet;Persist Security Info=True;User ID=SQL2005_623673_jet_user;Password=sell737ng" providerName="System.Data.SqlClient"/>
  <add name="oracleQuantumConnectionReadOnly" connectionString="Data Source=jetserve1.jetpartsengineering.local:1521/CCTL;User Id=crystal;Password=report" providerName="OraOLEDB.Oracle"/>
  <add name="Quantum_ReadOnly" connectionString="Provider=OraOLEDB.Oracle; Data Source=75.151.107.177:1521/CCTL;OLEDB.NET=True;User ID=crystal;Password=report;"/>
  <!-- Test
  <add name="sqlWebsiteConnection" connectionString="Data Source=jetserve3.jetpartsengineering.local;Initial Catalog=Test_ecom_website;Persist Security Info=True;User ID=test;Password=Jp3T#5t" providerName="System.Data.SqlClient"/>
  <add name="sqlSalesConnection" connectionString="Data Source=jetserve3.jetpartsengineering.local;Initial Catalog=DevSales;Persist Security Info=True;User ID=test;Password=Jp3T#5t" providerName="System.Data.SqlClient"/>
  <add name="sqlForecastConnection" connectionString="Data Source=jetserve3.jetpartsengineering.local;Initial Catalog=Test_JPETracking;Persist Security Info=True;User ID=test;Password=Jp3T#5t" providerName="System.Data.SqlClient"/>
  <add name="sqlScannerConnection" connectionString="Data Source=jetserve3.jetpartsengineering.local;Initial Catalog=Test_JPEScanner;Persist Security Info=True;User ID=test;Password=Jp3T#5t" providerName="System.Data.SqlClient"/>
  <add name="oracleQuantumConnectionReadOnly" connectionString="Data Source=jetserve1.jetpartsengineering.local:1521/CCTL;User Id=crystal;Password=report" providerName="OraOLEDB.Oracle"/>
  <add name="Quantum_ReadOnly" connectionString="Provider=OraOLEDB.Oracle; Data Source=75.151.107.177:1521/CCTL;OLEDB.NET=True;User ID=crystal;Password=report;"/>
  -->
  <!-- Live
  <add name="sqlWebsiteConnection" connectionString="Data Source=jetserve3.jetpartsengineering.local;Initial Catalog=ecom_website;Persist Security Info=True;User ID=ecom;Password=unclebill" providerName="System.Data.SqlClient"/>
  <add name="sqlSalesConnection" connectionString="Data Source=jetserve3.jetpartsengineering.local;Initial Catalog=DevSales;Persist Security Info=True;User ID=ecom;Password=unclebill" providerName="System.Data.SqlClient"/>
  <add name="sqlForecastConnection" connectionString="Data Source=jetserve3.jetpartsengineering.local;Initial Catalog=JPETracking;Persist Security Info=True;User ID=ecom;Password=unclebill" providerName="System.Data.SqlClient"/>
  <add name="sqlScannerConnection" connectionString="Data Source=sql2k513.discountasp.net;Initial Catalog=SQL2005_623673_jet;Persist Security Info=True;User ID=SQL2005_623673_jet_user;Password=sell737ng" providerName="System.Data.SqlClient"/>
  <add name="oracleQuantumConnectionReadOnly" connectionString="Data Source=jetserve1.jetpartsengineering.local:1521/CCTL;User Id=crystal;Password=report" providerName="OraOLEDB.Oracle"/>
  <add name="Quantum_ReadOnly" connectionString="Provider=OraOLEDB.Oracle; Data Source=75.151.107.177:1521/CCTL;OLEDB.NET=True;User ID=crystal;Password=report;"/>
  -->
  <!-- Dev
  <add name="sqlWebsiteConnection" connectionString="Data Source=TESLAIII\SQLEXPRESS;Initial Catalog=JPEWebsite;Persist Security Info=True;User ID=ecom;Password=unclebill" providerName="System.Data.SqlClient"/>
  <add name="sqlSalesConnection" connectionString="Data Source=TESLAIII\SQLEXPRESS;Initial Catalog=DevSales;Persist Security Info=True;User ID=ecom;Password=unclebill" providerName="System.Data.SqlClient"/>
  <add name="sqlForecastConnection" connectionString="Data Source=TESLAIII\SQLEXPRESS;Initial Catalog=JPETracking;Persist Security Info=True;User ID=ecom;Password=unclebill" providerName="System.Data.SqlClient"/>
  <add name="sqlScannerConnection" connectionString="Data Source=TESLAIII\SQLEXPRESS;Initial Catalog=SQL2005_623673_jet;Persist Security Info=True;User ID=SQL2005_623673_jet_user;Password=sell737ng" providerName="System.Data.SqlClient"/>
  <add name="oracleQuantumConnectionReadOnly" connectionString="Data Source=jetserve1.jetpartsengineering.local:1521/CCTL;User Id=crystal;Password=report" providerName="OraOLEDB.Oracle"/>
  <add name="Quantum_ReadOnly" connectionString="Provider=OraOLEDB.Oracle; Data Source=75.151.107.177:1521/CCTL;OLEDB.NET=True;User ID=crystal;Password=report;"/>
  -->
</connectionStrings>
