<?xml version="1.0"?>
<connectionStrings>
  <add name="sqlWebsiteConnection" connectionString="Data Source=jetserve3.jetpartsengineering.local;Initial Catalog=ecom_website;Persist Security Info=True;User ID=ecom;Password=unclebill" providerName="System.Data.SqlClient"/>
  <add name="sqlSalesConnection" connectionString="Data Source=jetserve3.jetpartsengineering.local;Initial Catalog=DevSales;Persist Security Info=True;User ID=ecom;Password=unclebill" providerName="System.Data.SqlClient"/>
  <add name="sqlForecastConnection" connectionString="Data Source=jetserve3.jetpartsengineering.local;Initial Catalog=JPETracking;Persist Security Info=True;User ID=ecom;Password=unclebill" providerName="System.Data.SqlClient"/>
  <add name="oracleQuantumConnectionReadOnly" connectionString="Data Source=jetserve1.jetpartsengineering.local:1521/CCTL;User Id=crystal;Password=report;" providerName="OraOLEDB.Oracle"/>
  <!-- Live
  <add name="sqlWebsiteConnection" connectionString="Data Source=jetserve3.jetpartsengineering.local;Initial Catalog=ecom_website;Persist Security Info=True;User ID=ecom;Password=unclebill" providerName="System.Data.SqlClient"/>
  <add name="sqlSalesConnection" connectionString="Data Source=jetserve3.jetpartsengineering.local;Initial Catalog=DevSales;Persist Security Info=True;User ID=ecom;Password=unclebill" providerName="System.Data.SqlClient"/>
  <add name="sqlForecastConnection" connectionString="Data Source=jetserve3.jetpartsengineering.local;Initial Catalog=JPETracking;Persist Security Info=True;User ID=ecom;Password=unclebill" providerName="System.Data.SqlClient"/>
  <add name="oracleQuantumConnectionReadOnly" connectionString="Data Source=jetserve1.jetpartsengineering.local:1521/CCTL;User Id=crystal;Password=report;" providerName="OraOLEDB.Oracle"/>
  -->
  <!-- Dev
  <add name="sqlWebsiteConnection" connectionString="Data Source=TESLA11;Initial Catalog=JPEWebsite;Persist Security Info=True;User ID=ecom;Password=unclebill" providerName="System.Data.SqlClient"/>
  <add name="sqlSalesConnection" connectionString="Data Source=TESLA11;Initial Catalog=DevSales;Persist Security Info=True;User ID=ecom;Password=unclebill" providerName="System.Data.SqlClient"/>
  <add name="sqlForecastConnection" connectionString="Data Source=TESLA11;Initial Catalog=JPETracking;Persist Security Info=True;User ID=ecom;Password=unclebill" providerName="System.Data.SqlClient"/>
  <add name="oracleQuantumConnectionReadOnly" connectionString="mockData" providerName="OraOLEDB.Oracle"/>
  -->
</connectionStrings>
